*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cards-wrapper {
    display: flex;
    align-items: center;
}
.cardCarousel {
    margin: 0 .5em;
    width: calc(100%/3);
}
.imagen-wrapper{
    height: 22vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 567px) {
    .cardmobile{
        display: none !important;
    }
    .imagen-wrapper{
        height: 100%;
      }
  }


